<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.groov.my_ceparou">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_fond_blanc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_fond_blanc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.indooratlas.android.sdk.API_KEY"
            android:value="76509f8d-2671-437c-823c-396f5757b458"/>
        <meta-data
            android:name="com.indooratlas.android.sdk.API_SECRET"
            android:value="qJsuesn81I4j7R07xlW3t04Fi7jZfL18yzo0Lwj2W2gb/U9KQCNwqXBJ1iI90lrJNMeUiAwMbRi6rCIFeNI7RPcSTcvCLNdW8Qnlm1KsYT5duMEvktzk2dd4+5pOlg=="/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value=" AIzaSyB3fL_jVhaZ8YtUH7Fe1Z3yPiwtpfZ5R0s "/>

        <service
            android:name="com.indooratlas.android.sdk.IALocationService"
            android:label="IALocationService"
            android:exported="false"></service>

        <activity android:name=".AdminActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".SavePlacesActivity"/>
        <activity android:name=".GMActivity"/>
        <activity android:name=".MoteurActivity"/>
        <activity android:name=".OublisActivity"/>
        <activity android:name=".InscriptionActivity"/>
        <activity android:name=".ParametresActivity"/>
        <activity android:name=".ModificationMailActivity"/>
        <activity android:name=".ModificationNumActivity"/>
        <activity android:name=".ModificationMdpActivity"/>
        <activity android:name=".PopOublisActivity"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>
        <activity android:name=".PopInscriptionActivity"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>
        <activity android:name=".PopInscriptionEchecNumActivity"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>
        <activity android:name=".PopInscriptionEchecMailActivity"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>
        <activity android:name=".PopInscriptionEchecIDActivity"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>
        <activity android:name=".PopInscriptionEchecMDPActivity"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>
        <activity android:name=".PopConnexionActivity"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>
        <activity android:name=".PopGMActivity"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>
        <activity android:name=".SuppressionCompteActivity"/>

    </application>

</manifest>